<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Input XML data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:if="${xmlData.successMarshallingToJSON != null}" >Result of JSON marshalling</h1>
<p th:if="${xmlData.successMarshallingToJSON != null}" th:text="${xmlData.successMarshallingToJSON}" />
<h1 th:if="${xmlData.parsingError != null}">Parsing Error</h1>
<p th:if="${xmlData.parsingError != null}" th:text="${xmlData.parsingError}" />
<h1 th:if="${xmlData.sendingError != null}">Sending Error</h1>
<p th:if="${xmlData.sendingError != null}" th:text="${xmlData.sendingError}" />
<a href="/input">Submit another XML</a>
</body>
</html>